@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.img div {
  background: linear-gradient(#FFE2C8, #FEBA44);
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #5946318A;
}

.side-nav {
  background: linear-gradient(#FFE2C8, #FEBA44);
  transition: 1s ease-in-out;

}
.img div:nth-child(2) {
  margin-top: 25%;
}