@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img img {
  background: linear-gradient(#FFE2C8, #FEBA44);
  border-radius: 10px;
  box-shadow: 0px 1px 1px 0px #5946318A;
}

/* .img img:nth-child(2) {
  margin-top: 20%;
} */